<%- include("partials/header"); -%>
<div class="bodycontainer">
  <h1>Contact</h1>
  <p><%= contactContent %></p>
  <ul>
    <li class="contactlist">
      <a class="link" href="#">Instagram</a>
    </li>
    <li class="contactlist">
      <a class="link" href="#">Facebook</a>
    </li>
    <li class="contactlist">
      <a class="link" href="#">Twitter</a>
    </li>
  </ul>
</div>
<%- include("partials/footer"); -%>
